body, p {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-container {
  margin-bottom: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  margin-top: auto;
}

input[type="text"] {
  width: 360px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #008cba;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0073aa;
}

.response-container {
  margin-top: 20px;
  width: 500px;
}

.response-list {
  list-style-type: none;
  padding: 0;
}

.response-item {
  margin-bottom: 10px;
}

.response-container h2 {
  text-align: center;
}

.response-list {
  text-align: left;
}

.list-container {
  max-height: 350px;
  overflow-y: auto;
}